<html>
    <head>
        <title>This is a testing webpage by Hoang Nguyen</title>
    </head>
<body>
    <h1>This is the first title.</h1>
    <p>Let's go into styles:
        <ul>
            <li style="color: grey; font-size:20px;">style="color: grey; font-size:20px;"</li>
            <li style="background-color: hotpink; font-size: 150%;">style="background-color: hotpink; font-size: 150%"</li>
            <li style="font-family: Tahoma; font-size: 1.5em;">style="font-family: Tahoma; font-size: 2em" (1em=100%)</li>
            <li style="text-align: center;">style:"text-align: center;"</li>
        </ul>
    </p>
    <p>Let's go into formatting:
        <ul>
            <li>Use "b" for <b>bold</b></li>
            <li>Use "strong" for <strong>important</strong> text</li>
            <li>"em" for <em>emphasized</em></li>
            <li>"i" for <i>italic</i></li>
            <li>"mark" for <mark>marked</mark> text</li>
            <li>"small" for <small>small</small> text</li>
            <li>"del" for <del>deleted</del> text</li>
            <li>"ins" for <ins>inserted</ins> text</li>
            <li>"sub" for <sub>subscripted</sub> text</li>
            <li>"sup" for <sup>supercripted</sup> text</li>
        </ul>
    </p>
</body>
</html>