<html>
    <head>
        <title>This is a testing HTML file.</title>
    </head>
    <body>
        <h1>This is a heading of type h1</h1>
        <p>This is first paragraph</p>
        <p>This is second paragraph
            and this is still in second paragraph
        </p>
        <p>This is link to my <a href="https://github.com/hoangnguyen719">github repo</a>.</p>
        <p>This is a <button>button</button>.</p>
        <p>
            This is an unordered list
            <ul>
                <li>This is item a</li>
                <li>This is item b</li>
                <li>This is item c</li>
            </ul>
            This is an ordered list
            <ol>
                <li>This is item 1</li>
                <li>This is item 2</li>
                <li>This is item 3</li>
            </ol>
        </p>
    </body>
</html>