<html>
    <head>
        <base href="http://127.0.0.1:5000/"></base>
        <title>Gothons From Planet Percal #25</title>
    </head>
    <body>
        <h1 style="color:grey; font-size:40px;align-items: center;">Testing Website</h1>
        <p><strong>Author:</strong> Hoang Nguyen</p>
        <p> <b>Date:</b> <span id="date"></span></p>
        <form action="/">
            <input type="submit" value="Homepage">
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}

        {% endblock %}
        <br> 
        <button style="position: relative; bottom: 0;" onclick="goBack()">Go Back</button> 
        <button style="position: relative; bottom: 0; left: 0" onclick="goForward()">Go Forward</button>
        <script>
            function goBack() {
                window.history.back();
            }
            function goForward() {
                window.history.forward();
            }
            n = new Date();
            y = n.getFullYear();
            m = n.getMonth()+1;
            d = n.getDate();
            document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
        </script>
    </body>
</html>