{% extends "layout.html" %}

{% block content %}
<form action="/">
    <input type="submit" value="Homepage">
</form>
{% if error %}
    <p class=error><strong>ERROR(S): </strong>{{ error }}</p>
{% endif %}
<h1>Login</h1>
<form method="POST">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password: </label>
    <input type="text" id="password" name="password"><br/>
    <input type="submit">
</form>


{% endblock %}